<hr>

## 03.1 - UNIVARIAT ANALYSIS


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

<hr>

### üìÇ IMPORTs


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: left;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [20]:
# import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
import seaborn as sns

plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)

<hr>

### üìÇ LOAD CLEAN DATASET


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: left;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [ ]:
import pandas as pd

# Load clean dataset
df = pd.read_csv('../data/processed/online_shoppers_intention_06_clean.csv')
# Display clean dataframe
display(df.head())

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

----------------------------------------------------------------------
Descriptive statistics of the clean dataset:

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,12205.00,12205.00,12205.00,12205.00,12205.00,12205.00,12205.00,12205.00,12205.00,12205.00,12205.00,12205.00,12205.00,12205.00
mean,2.34,81.65,0.51,34.83,32.05,1206.98,0.02,0.04,5.95,0.06,2.12,2.36,3.15,4.07
std,3.33,177.49,1.28,141.42,44.59,1919.60,0.05,0.05,18.65,0.20,0.91,1.71,2.40,4.02
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,1.00
25%,0.00,0.00,0.00,0.00,8.00,193.00,0.00,0.01,0.00,0.00,2.00,2.00,1.00,2.00
50%,1.00,9.00,0.00,0.00,18.00,608.94,0.00,0.02,0.00,0.00,2.00,2.00,3.00,2.00
75%,4.00,94.70,0.00,0.00,38.00,1477.15,0.02,0.05,0.00,0.00,3.00,2.00,4.00,4.00
max,27.00,3398.75,24.00,2549.38,705.00,63973.52,0.20,0.20,361.76,1.00,8.00,13.00,9.00,20.00

<hr>

#### üëÅÔ∏è‚Äçüó®Ô∏è CATEGORICAL VARIABLES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: left;
    color: grey;
    font-weight: bold;
}
</style>
<hr>

In [ ]:
# Analyze categorical variables
categorical_vars = df.select_dtypes(include=['object']).columns

for var in categorical_vars:
    print(f"\n{var} - Value Counts:")
    print(df[var].value_counts())
    
    # Visualization
    plt.figure(figsize=(8, 5))
    df[var].value_counts().plot(kind='bar')
    plt.title(f'Distribution of {var}')
    plt.xticks(rotation=45)
    plt.show()

<hr>

#### üëÅÔ∏è‚Äçüó®Ô∏è NUMERICAL VARIABLES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: left;
    color: grey;
    font-weight: bold;
}
</style>
<hr>

In [ ]:
# Analyze numerical variables
numerical_vars = df.select_dtypes(include=['int64', 'float64']).columns

for var in numerical_vars:
    plt.figure(figsize=(12, 4))
    
    # Histogram
    plt.subplot(1, 2, 1)
    plt.hist(df[var].dropna(), bins=30, alpha=0.7)
    plt.title(f'Histogram of {var}')
    plt.xlabel(var)
    plt.ylabel('Frequency')
    
    # Box plot
    plt.subplot(1, 2, 2)
    plt.boxplot(df[var].dropna())
    plt.title(f'Box Plot of {var}')
    plt.ylabel(var)
    
    plt.tight_layout()
    plt.show()
    
    # Statistics
    print(f"\n{var} Statistics:")
    print(f"Mean: {df[var].mean():.2f}")
    print(f"Median: {df[var].median():.2f}")
    print(f"Standard Deviation: {df[var].std():.2f}")
    print(f"Skewness: {df[var].skew():.2f}")

Histograms, boxplots, countplots

<hr>

### üëÅÔ∏è‚Äçüó®Ô∏è TARGET ANALYSIS


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

<hr>

#### üëÅÔ∏è‚Äçüó®Ô∏è CATEGORICAL vs CATEGORICAL


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: left;
    color: grey;
    font-weight: bold;
}
</style>
<hr>

<hr>

#### üëÅÔ∏è‚Äçüó®Ô∏è NUMERICAL vs NUMERICAL


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: left;
    color: grey;
    font-weight: bold;
}
</style>
<hr>

<hr>

#### üëÅÔ∏è‚Äçüó®Ô∏è CATEGORICAL vs NUMERICAL


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: left;
    color: grey;
    font-weight: bold;
}
</style>
<hr>